lib/opencv-*

# Compiled Files #
*.class
doc/
bin/
build/

# Text Backup Files #
*.sw[a-z]
*~
\#*\#
.\#*

# OS X Files #
.DS_Store
._*
.Spotlight*
.Trashes

# Windows Files #
Thumbs.db
ehthumbs.db

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
